* {
	margin: 0;
	padding: 0;
	font: 14px arial, sans-serif;
}

body {
	overflow: hidden;
}

.ltkm {
	display: flexbox;
    height: 100vh;
	padding: 0;
	margin: 0;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.image-box {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-top: auto;
	width: 100%;
	height: 250px;
}
.image {
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	max-height: 92px;
	width: 100%;
}
.bottom-left {
	color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 55%;
    bottom:1px;
    white-space: nowrap;
	z-index: 2;
}

img {
	max-width: 272px;
	margin: auto;
	z-index: 1;
}
.form {
    justify-content: center;
    align-items: center;
    height: 70px;
}
.box {
	align-items:center ;
	width: 584px;
	height:2.8em;
	background-color: white;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	border-radius: 24px;
	padding: 20px;
}
.box:hover {
	-webkit-box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
	box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
}
.box>i {
	z-index: 69;
	font-size: 18px;
	color: rgba(138, 138, 138, 0.329);
}
.box>#cam {
    margin-right: 20px;
    font-size:24px;
    position: relative;
}
.box>button {
    background: none;
    z-index: 100;
    color: #4285f4;
    outline: none;
    border: none;
}
a>i {
    color: #4285f4;
    font-size:20px;
}
.box > input {
    border: none !important;
    width: 300px;
	height: 30px;
	padding-left: 10px;
}
.box > input:focus {
	outline: none;
}
@media screen and (max-width: 736px) {
	.image-box {
		height: 100px;
	}
}
@media screen and (orientation: Portrait) {
	.image-box {
		height: 199px;
	}
}
