* {
    font-family: Google Sans;
    margin: 0;
    padding:0;

}

img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    top:11em;
    left: 7em;
    display:block;
}
ul li {
    display:inline;
    list-style-type: none;
}

ul li a {
    float: right;
    margin: 3.5px;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: Google Sans;
}
ul li a:hover {
    text-decoration: underline;
}

.box{
    position: relative;
    display: block;
    border: 0.5px solid rgba(0,0,0,0.2);
    border-radius:1.8em;
    padding: 1em;
    width: 37%;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    top: 13em;
}
.box:focus {
    outline: none;
}
.box:hover {
    box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329) ;
}

.button {
    position: relative;
    display: inline-block;
    border: none !important;
    border-radius:5px;
    background-color: rgba(138, 138, 138, 0.048);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2em;
    margin-right: auto;
    margin-left: auto;
    top: 11em;
    left: 42%;
}

.button:hover {
    box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329) ;
    background-color: rgba(138, 138, 138, 0.096);
}

@media screen and (max-width:736px){
    .box {
        width: 30%;
    }
}