* {
	margin:0;
	padding:0;
	font: 14px arial,sans-serif;
}
body {
	overflow: hidden;
}
.ltkm {
	display: flexbox;
	padding: 0;
	margin: 0;
} 
.container {
	display:flex;
	flex-wrap:nowrap;
	box-sizing:border-box;
}
.nav {
	justify-content:flex-end;
	align-items: center;
	padding-bottom:0.375em;
	width:100%;
	min-height:48px;
}
.nav-item {
	list-style-type:none;
	display:inline;
}
.nav-link {
	font-size:0.9em;
	margin:0.21875em;
	padding:0.75em;
	text-decoration:none;
	color:black;
}
.nav-link:hover {
	text-decoration:underline;
}
.image-box {
	justify-content:center;
	align-items: flex-end;
	margin-top:auto;
	width:100%;
	height:199px;
}
.image {
	position:relative;
	height:100%;
	margin-top:6.6em;
	max-height:5.75em;
	display:inline-block;
}
.form {
	justify-content: center;
	padding:1.25em;
	height:10em;
	max-width:100%;
	margin: auto;
}
form {
	width: 100%;
	max-width:100%;
	margin: auto;
	height:10em;
}
.diub {
	justify-content: center;
	height:auto;
	width:100%;
	max-width:100%;
	margin: auto;
}
.ab {
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width:100%;
	height:140px;
	margin:0px 290.5px;
	padding:6px 0px 0px;
}
#kjko {
	justify-content: center;
	align-self: center;
	padding-top: 15px;
}
input#search {
	justify-content: center;
	align-self: center;
	min-width: 300px;
	margin: auto;
	padding:0.3125em 0.5em 0em 0.875em;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
  	border-radius: 1.8em;
}
#search:hover {
	-webkit-box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
    box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329)	
}
#search:focus {
	outline: none;
}
#idnf {
	justify-content: center;
	align-self: center;
	padding-top: 15px;
}
.center {
	justify-content: center;
	align-items: center;
	align-content: space-between;
	padding-top: 20px;
	max-width:511px;
	min-width:500px;
	margin:auto;
	height:4em;

}
#lksdf {
	border: none !important;
  	border-radius: 5px;
  	background-color: rgba(138, 138, 138, 0.048);
	color: rgba(0, 0, 0, 0.8);
	margin: 11px 4px;
	padding: 0px 16px;  
	width:127px;
	height:36px;
	outline: none;
}

#lksdf:hover {
	-webkit-box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
    box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
    background-color: rgba(138, 138, 138, 0.096);
}
#likgvf {
	border: none !important;
  	border-radius: 5px;
  	background-color: rgba(138, 138, 138, 0.048);
	color: rgba(0, 0, 0, 0.8);
	margin:11px 4px;
	padding:0px 16px;
	width: 140px;
	height:36px;
	outline: none;
}
#likgvf:hover {
	-webkit-box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
    box-shadow: 0 0 0 1pt rgba(138, 138, 138, 0.329);
    background-color: rgba(138, 138, 138, 0.096);
}
.sojdf {
	text-align: center;
	width: 100%;
	height: 10000px;
}
@media screen and (max-width:736px){
	.image-box {
		height: 100px;
	}
}

@media screen and (orientation:Portrait){
	.image-box {
		height: 199px;
	}
}

