div img {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

ul li a {
    font-size: 15px;
    margin-top: 5px;
    font-family: Google Sans;
}